/** FONTS
font-family: 'Dosis', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
**/


input:focus{
        outline: none;
}

a{
    color:white;
}

a {
  text-decoration: none; 
  color:white;    
}

a:link {
    color:white;
}

/**Class**/

.wrap {
    margin: 0 auto;
    height: 100%;
    width: 80%;
}

.main_title {
    font-family: 'Dosis', sans-serif;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 5px;
    text-transform: uppercase;
    white-space: nowrap;
    top: 240px;
    left: 507px;
    position: absolute;
}

.main_subtitle {
    font-family: 'Noto Sans',sans-serif;
    font-size: 25px;
    font-style: italic;
    color: black;
    position: absolute;
    top: 315px;
    left: 592px;
}

.psd {
    font-family: 'Noto Sans',sans-serif;
    font-size: 12px;
    font-style: italic;
    color: black;
    position: absolute;
    top: 386px;
    left: 633px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
    padding-top: 50px;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 800;
    letter-spacing: 3px;
    margin-top: 20px;
}

.number {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    color:white;
    font-weight: 800;
    letter-spacing: 3px;
}

.number_letter {
    font-family:'Noto Sans',sans-serif;
    font-size: 26px;
    font-style: italic;
    color:#757575;
}

.pclass {
     font-family: 'Noto Sans',sans-serif;
    font-size: 10px;
    color: #757575;
    white-space: pre-wrap;
    line-height: 19px;
    text-align: left;
    margin-top: 12px;

}

.pclass2 {
    font-family: 'Noto Sans',sans-serif;
    font-size: 12px;
    font-style: italic;
    color: white;
    white-space: pre-wrap;
    line-height: 25px;
    padding-top: 12px;
    position: relative;
    float: left;
    margin-left: 148px;
    margin-top: 16px;
}


.pform {
    font-family:'Noto Sans',sans-serif;
    font-size: 14px;
    color:#757575;
}

.viewmore {
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.beauty {
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
}

.p_footer {
    color:white;
    font-family: 'PT Sans',sans-serif;
    font-size:14px;
    letter-spacing: 1px;
    font-weight: 400;
}

/**Structure**/

#bloc1 {
    height: 810px;
    width: 100%;
    background:url('/img/bloc1/bg_bloc1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#bloc2 {
    height: 800px;
    width: 100%;
    background-color:#121212;
}

#bloc3 {
    height: 900px;
    width: 100%;
    background-color: #121212;
}

#bloc4 {
    height: 450px;
    width: 100%;
    background-color: #121212;
}

#bloc5 {
    height: 350px;
    width: 100%;
    background: -webkit-linear-gradient(70deg, #f3c400, #ff5901);
    background: -o-linear-gradient(70deg, #f3c400, #ff5901);
    background: -moz-linear-gradient(70deg, #f3c400, #ff5901); 
    background: linear-gradient(70deg, #f3c400, #ff5901);
}

#bloc6 {
    height: 780px;
    width: 100%;
    background-color: #121212;
}

#bloc7 {
    height: 900px;
    width: 100%;
    background-color: black;
}

#bloc8 {
    height: 400px;
    width: 100%;
    background-color: #121212;
}
#bloc9 {
    height: 85px;
    width: 100%;
    background-color: #121212;
    padding-top: 70px;

    /**background: -webkit-linear-gradient(70deg, #f3c400, #ff5901);
    background: -o-linear-gradient(70deg, #f3c400, #ff5901);
    background: -moz-linear-gradient(70deg, #f3c400, #ff5901); 
    background: linear-gradient(70deg, #f3c400, #ff5901); **/
}

#bloc10 {
    height: 750px;
    width: 100%;
    background-color: #121212;
}

#footer {
    height: 95px;
    width: 100%;
    background: -webkit-linear-gradient(70deg, #f3c400, #ff5901);
    background: -o-linear-gradient(70deg, #f3c400, #ff5901);
    background: -moz-linear-gradient(70deg, #f3c400, #ff5901); 
    background: linear-gradient(70deg, #f3c400, #ff5901);
    
}

/**Content**/
    
/**Bloc1**/

#mouse_center {
    width: 3%;
}

.mouse {
    margin-top: 460px;
}

.center_title {
    width: 40%;
}

.border-bloc1 {
    height: 1px;
    width: 188px;
    position: absolute;
    top: 380px;
    left: 633px;
    border-top: 1px solid black;
}

.bloc_1 {
    width: 70%;
}

.logo {
    position: relative;
    float:left;
    margin-top:30px;
}


.trait {
    border-top: 2px solid black;
    width: 16px;
    padding-top: 1px;
    height: 2px;

}

.menu {
    position: relative;
    float:right;
    margin-top:30px;
    height: 30px;
    width: 30px;
    border:1px solid black;
}

.move {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 9px;
    left: 7px;
}

/**Bloc2**/

.col{
    position: relative;
    margin-top: 70px;
    height: 100%;
    width: 33%;
    float: left;
    display: block;
}

.bloc {
    height: 26%;
    width: 100%;
}

.picto {
    padding-left:10px;
}

.border_bloc2 {
    width: 75px;
    height: 1px;
    margin-top: 10px;
    border-top: 2px solid #757575;
}

.pos2 {
    margin-top: -9px;
}

.pos3 {
    margin-top: -6px;
}

.pos22 {
    margin-top: 10px
}

.pos32 {
    margin-top: 9px
}

.pos23 {
    margin-top: -4px 
}

.pos33 {
    margin-top: 3px
}
/**Bloc3**/

.position {
    display: inline-block;
    position: relative;
    float:left;
    width: 286px;
    top: -145Px;
}

.border {
    border:1px solid black;
}

.img1 {
    background-color: white;
    height: 350px;
}
.img2 {
    background-color: white;
    height: 270px;
}
.img3 {
    background-color: white;
    height: 240px;
    
}
.img4 {
    background-color: white;
    height: 260px;
}
.img5 {
    background-color: white;
    height: 370px;
}
.img6 {
    background-color: white;
    height: 315px;
    top: -166px;
}

.img7 {
    background-color: white;
    height: 270px;
    top: -246px;
}
.img8 {
    background-color: white;
    height: 360px;
    top: -276px;
}
.img9 {
    background-color: white;
    height: 375px;    
    top: -256px;
}
.img10 {
    background-color: white;
    height: 360px;
    top: -150px;
}

.yellow {
position: absolute;
    height: 87px;
    margin-top: 542px;
    margin-left: 287px;
    width: 288px;
    border: 1px solid;
    background: -webkit-linear-gradient(70deg, #f3c400, #ff5901);
    background: -moz-linear-gradient(70deg, #f3c400, #ff5901);
    background: -o-linear-gradient(70deg, #f3c400, #ff5901);
    background: linear-gradient(70deg, #f3c400, #ff5901);
}


.whiteborder {
    border: 1px solid white;
    /* height: 1px; */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 126px;
    margin-left: 83px;
}

.pos_beauty {
    margin-top:17px;
}

.btn_view {
    height: 40px;
    width: 730px;
    /* top: 780px; */
    border:0px solid;
    /* left: 340px; */
    /* position: relative; */
    position: absolute;
    margin-top: 810px;
    right: 376px;
    background: -webkit-linear-gradient(70deg, #f3c400, #ff5901);
    background: -moz-linear-gradient(70deg, #f3c400, #ff5901);
    background: -o-linear-gradient(70deg, #f3c400, #ff5901);
    background: linear-gradient(70deg, #f3c400, #ff5901);
    
}

/**Bloc 4**/

.col_bloc4 {
    height: 60%;
    width: 26%;
    position: relative;
    float:left;
    margin-top:60px;
    margin-right: 70px;
}

.wrapbloc4 {
    width: 70%;
}

.blc4 {
    font-size: 60px;
}

.border_bloc4 {
    width: 141px;
    height: 1px;
    margin-top: 10px;
    border-top: 2px solid;
    background: -webkit-linear-gradient(70deg, #f3c400, #ff5901);
    background: -moz-linear-gradient(70deg, #f3c400, #ff5901);
    background: -o-linear-gradient(70deg, #f3c400, #ff5901);
    background: linear-gradient(70deg, #f3c400, #ff5901);
}

.sub_bloc4 {
    letter-spacing: 1px;
}

.padtitle4 {
    padding-top: 80px;
}

/**Bloc 5**/

.dis_bloc {
    display: block;
    width: 94%;
}

.pos_text {
    width: 85%;
    height: 10%;

}

.pos_img {
    position: relative;
    float: left;
     padding-left: 104px;
}

.bloc_img {
    height: 40%;
    width: 100%;
    position: relative;
    float: left;
    margin-top: 85px;
    margin-left:-13px;
}
.bloc_img2 {
    width: 100%;
    position: relative;
    float: left;
}

.audio {
    right: 2px;
}

.code {
    left: 34px;
}

.graphic {
    left: 10px;
}

/**Bloc 6**/

.array {
    width: 220px;   
    height: 460px;
    border:1px solid #505050;
    position: relative;
    float:left;
    display: inline;
    margin-top: 80px;
    margin-right: 65px;
}

.content_array {
    width: 80%;
    height: 95%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: -15px;
}

.blc6 {
    font-size: 55px;
    text-align: right;
    margin-top: 15px;
}

.dollars {
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
    position: relative;
    top: -24px;
    right: 2px;
}

#border_blc6 {
    width: 100%;
}

.now {
        margin-top: 25PX;
}

.white {
    color:white;
}

.move_title_6 {
        padding-top: 80px;
}

.array:hover {
    background: -webkit-linear-gradient(70deg, #f3c400, #ff5901);
    background: -moz-linear-gradient(70deg, #f3c400, #ff5901);
    background: -o-linear-gradient(70deg, #f3c400, #ff5901);
    background: linear-gradient(70deg, #f3c400, #ff5901);
}

.now:hover {
    color:black;
}



/**Bloc 7**/

.skills{
    height:30%;
    width: 25%;
    position: relative;
    float: left;
    display: inline;
    margin-top: 70px;
}

.awesome {
    position: relative;
    float:left;
    height: 35%;
    width: 50%;
    margin-top: 120px;
}

.colorful {
    position: relative;
    float:right;
    height: 35%;
    width: 50%;
    margin-top: 120px;
}

.circle {
    border:1px solid ;
    border-radius:50%;
    height: 120px;
    width: 120px;
    background:rgba(255,255,255, 0.7);
}

.guillemet {
    font-family: 'Noto Sans', sans-serif;
    font-size: 82px;
    color:white;
    font-weight: 800;
    font-style: italic;
    margin-top: -15px;
}

.border-radient {
    border-top:2px solid;
    width: 120px;
    height: 2px;
    margin-top: 15px;
    background: -webkit-linear-gradient(70deg, #f3c400, #ff5901);
    background: -moz-linear-gradient(70deg, #f3c400, #ff5901);
    background: -o-linear-gradient(70deg, #f3c400, #ff5901);
    background: linear-gradient(70deg, #f3c400, #ff5901);
}

.skill_title {
    padding-top: 95px;
}

.wpress_img {
    position: relative;
    top: 14px;
}

.wpress_txt {
    margin-top: 25px;
}

.move_title_blc6 {
    margin-top: 10px;
}

.sarbat {
    margin-top: -118px;
    margin-left: 145px;
}

/**Bloc 8**/

.wrap_bloc8 {
    width: 80%;
    margin-top: 75px;
}

.col-8 {
    height: 90%;
    width: 22%;
    position: relative;
    float: left;
    margin-right: 258px;
    left: 150px;

}

.backline {
    white-space: pre-line;
    letter-spacing: 1px;
    text-align: left;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
}

.n_size {
    font-size:55px
}

.move_more {
    text-align: left;
    padding-top: 25px;
}

.width_border {
   width: 75px; 
}

.little_pclass {
    padding-top: 10px;
    font-style: italic;
    font-size: 15px;
    position: relative;
    top: -28px;
    font-weight: 400;
}

/**Bloc 9**/

.social {
    border: 1px solid white;
    padding-top: 21px;
    position: relative;
    padding-left: 162px;
    padding-right: 162px;
    padding-bottom: 21px;
    float: left;
}


.fb {
    padding-top: 21px;
    padding-bottom: 21px;
}

.twi {
    padding-top: 21px;
    padding-bottom: 22px;
}

.google {
    padding-top: 23px;
    padding-bottom: 23px;
}

.social:hover {
    background: -webkit-linear-gradient(70deg, #f3c400, #ff5901);
    background: -moz-linear-gradient(70deg, #f3c400, #ff5901);
    background: -o-linear-gradient(70deg, #f3c400, #ff5901);
    background: linear-gradient(70deg, #f3c400, #ff5901);
}

/**Bloc 10**/

.w_bloc10 {
    width: 50%;
    height: 60%;
    position: relative;
    float: left;
    padding-top: 150px;
}

.write_text {
    display: block;
    border-bottom: 1px solid #505050;
    width: 515px;
    background: rgba(18, 18, 18, 0.5);
    margin-top:60px;
    color:#505050;
    font-family: 'PT sans',sans-serif;
    font-size:14px;
    font-style:italic;

}

::-webkit-input-placeholder {
    color: #505050;
    font-family: 'PT sans',sans-serif;
    font-size:14px;
    font-style:italic;
}

.submit_text {
    position: relative;
    float: right;
    right: 61px;
    top: 40px;
    border: 0px solid;
    width: 170px;
    height: 50px;
    color:white;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    background: -webkit-linear-gradient(70deg, #f3c400, #ff5901);
    background: -moz-linear-gradient(70deg, #f3c400, #ff5901);
    background: -o-linear-gradient(70deg, #f3c400, #ff5901);
    background: linear-gradient(70deg, #f3c400, #ff5901);
}

.move_txt {
    height: 53%;
    width: 100%;
    margin-top: 37px;
}

.desc {
    width: 100%;
    height: 50%;
    position: absolute;
}

.reach {
    position: absolute;
    width: 29%;
    height: 20%;
    /* margin-top: 162px; */
    top: 345px;
}

.mail {
    position: absolute;
    width: 29%;
    height: 20%;
    left: 240px;
    top: 345px;

}

.backline2 {
    white-space: pre-line;
}

/**Footer**/

.w_footer {
    width: 40%;
    height: 20%;
    text-align: center;
    padding-top: 46px;
}

/**Menu**/

@import url(http://fonts.googleapis.com/css?family=Roboto);


.wrapper {
  height: 100%;
  transition: all 300ms ease-in-out;  
  margin: 1em 0;
  padding: 0;
}

.background--blur {
  background: #004d40;
}

.menu {
  font-size:2em;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.menu div {
    margin: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid black;
    font-size: 25px;
    font-family: 'PT sans',sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

.menu a {
  text-decoration: none;
}

.menu a:hover {
  text-decoration: none;
}

.menu div:last-child {
  border: 0;
}

.menu--off {
    position: absolute;
    left: -50%;
    width: 25%;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 545px;
    height: 26%;
    margin-top: 1em;
    transition: all 300ms;
}

.menu--on {
  left: 0;
  box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
  transition: all 300ms;
}

.material-design-hamburger button {
  display: block;
  border: none;
  background: none;
  outline: 0;
}

.material-design-hamburger__icon {
    padding-left: 903px;
    cursor: pointer;
    position: relative;
    top: 80px;
}

.material-design-hamburger__layer {
    display: block;
    width: 50px;
    height: 6px;
    background: black;
    position: relative;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

.material-design-hamburger__layer:before, .material-design-hamburger__layer:after {
  display: block;
  width: inherit;
  height: 10px;
  position: absolute;
  background: inherit;
  left: 0;
  content: '';
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

.material-design-hamburger__layer:before {
  bottom: 200%;
}

.material-design-hamburger__layer:after {
  top: 200%;
}

.material-design-hamburger__icon--to-arrow {
  animation-name: material-design-hamburger__icon--slide;
  animation-fill-mode: forwards;
}

.material-design-hamburger__icon--to-arrow:before {
  animation-name: material-design-hamburger__icon--slide-before;
  animation-fill-mode: forwards;
}

.material-design-hamburger__icon--to-arrow:after {
  animation-name: material-design-hamburger__icon--slide-after;
  animation-fill-mode: forwards;
}

.material-design-hamburger__icon--from-arrow {
  animation-name: material-design-hamburger__icon--slide-from;
}

.material-design-hamburger__icon--from-arrow:before {
  animation-name: material-design-hamburger__icon--slide-before-from;
}

.material-design-hamburger__icon--from-arrow:after {
  animation-name: material-design-hamburger__icon--slide-after-from;
}

@keyframes material-design-hamburger__icon--slide {
  0% {
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes material-design-hamburger__icon--slide-before {
  0% {
  }
  100% {
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
}

@keyframes material-design-hamburger__icon--slide-after {
  0% {
  }
  100% {
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
}

@keyframes material-design-hamburger__icon--slide-from {
  0% {
    transform: rotate(-180deg);
  }
  100% {
  }
}

@keyframes material-design-hamburger__icon--slide-before-from {
  0% {
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}

@keyframes material-design-hamburger__icon--slide-after-from {
  0% {
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}

