/** FONTS
font-family: 'Dosis', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
**/


/**Class**/

.wrap {
    margin: 0 auto;
    height: 100%;
    width: 80%;
}

.main_title {
    font-family: 'Dosis', sans-serif;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 5px;
    text-transform: uppercase;
    white-space: nowrap;
    top: 240px;
    left: 507px;
    position: absolute;
}

.main_subtitle {
    font-family: 'Noto Sans',sans-serif;
    font-size: 25px;
    font-style: italic;
    color: black;
    position: absolute;
    top: 315px;
    left: 592px;
}

.psd {
    font-family: 'Noto Sans',sans-serif;
    font-size: 12px;
    font-style: italic;
    color: black;
    position: absolute;
    top: 386px;
    left: 633px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
    padding-top: 50px;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 800;
    letter-spacing: 3px;
    margin-top: 20px;
}

.number {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    color:white;
    font-weight: 800;
    letter-spacing: 3px;
}

.number_letter {
    font-family:'Noto Sans',sans-serif;
    font-size: 26px;
    font-style: italic;
    color:#757575;
}

.pclass {
     font-family: 'Noto Sans',sans-serif;
    font-size: 10px;
    color: #757575;
    white-space: pre-wrap;
    line-height: 19px;
    text-align: left;
    margin-top: 12px;

}

.pclass2 {
    font-family:'Noto Sans',sans-serif;
    font-size: 14px;
    font-style: italic;
    color:white;
    white-space: pre-wrap;
    line-height: 3px;
}


.pform {
    font-family:'Noto Sans',sans-serif;
    font-size: 14px;
    color:#757575;
}

/**Structure**/

#bloc1 {
    height: 810px;
    width: 100%;
    background:url('/img/bloc1/bg_bloc1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#bloc2 {
    height: 800px;
    width: 100%;
    background-color:#121212;
}

#bloc3 {
    height: 900px;
    width: 100%;
    background-color: #121212;
}

#bloc4 {
    height: 350px;
    width: 100%;
    background-color: #121212;
}

#bloc5 {
    height: 350px;
    width: 100%;
    background: -webkit-linear-gradient(70deg, #f3c400, #ff5901);
    background: -o-linear-gradient(70deg, #f3c400, #ff5901);
    background: -moz-linear-gradient(70deg, #f3c400, #ff5901); 
    background: linear-gradient(70deg, #f3c400, #ff5901);
}

#bloc6 {
    height: 900px;
    width: 100%;
    background-color: #121212;
}

#bloc7 {
    height: 1100px;
    width: 100%;
    background-color: black;
}

#bloc8 {
    height: 400px;
    width: 100%;
    background-color: #121212;
}
#bloc9 {
    height: 85px;
    width: 100%;
    background-color: #121212;
    /**background: -webkit-linear-gradient(70deg, #f3c400, #ff5901);
    background: -o-linear-gradient(70deg, #f3c400, #ff5901);
    background: -moz-linear-gradient(70deg, #f3c400, #ff5901); 
    background: linear-gradient(70deg, #f3c400, #ff5901); **/
}

#bloc10 {
    height: 450px;
    width: 100%;
    background-color: #121212;
}

#footer {
    height: 95px;
    width: 100%;
    background: -webkit-linear-gradient(70deg, #f3c400, #ff5901);
    background: -o-linear-gradient(70deg, #f3c400, #ff5901);
    background: -moz-linear-gradient(70deg, #f3c400, #ff5901); 
    background: linear-gradient(70deg, #f3c400, #ff5901);
    
}

/**Content**/
    
/**Bloc1**/

#mouse_center {
    width: 3%;
}

.mouse {
    margin-top: 460px;
}

.center_title {
    width: 40%;
}

.border-bloc1 {
    height: 1px;
    width: 188px;
    position: absolute;
    top: 380px;
    left: 633px;
    border-top: 1px solid black;
}

.bloc_1 {
    width: 70%;
}

.logo {
    position: relative;
    float:left;
    margin-top:30px;
}


.trait {
    border-top: 2px solid black;
    width: 16px;
    padding-top: 1px;
    height: 2px;

}

.menu {
    position: relative;
    float:right;
    margin-top:30px;
    height: 30px;
    width: 30px;
    border:1px solid black;
}

.move {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 9px;
    left: 7px;
}

/**Bloc2**/

.col{
    position: relative;
    margin-top: 70px;
    height: 100%;
    width: 33%;
    float: left;
    display: block;
}

.bloc {
    height: 26%;
    width: 100%;
}

.picto {
    padding-left:10px;
}

.border_bloc2 {
    width: 75px;
    height: 1px;
    margin-top: 10px;
    border-top: 2px solid #757575;
}

.pos2 {
    margin-top: -9px;
}

.pos3 {
    margin-top: -6px;
}

.pos22 {
    margin-top: 10px
}

.pos32 {
    margin-top: 9px
}

.pos23 {
    margin-top: -4px 
}

.pos33 {
    margin-top: 3px
}
/**Bloc3**/

.position {
    display: inline-block;
    position: relative;
    float:left;
    width: 286px;
    top: -145Px;
}

.border {
    border:1px solid black;
}

.img1 {
    background-color: white;
    height: 350px;
}
.img2 {
    background-color: white;
    height: 270px;
}
.img3 {
    background-color: white;
    height: 240px;
    
}
.img4 {
    background-color: white;
    height: 260px;
}
.img5 {
    background-color: white;
    height: 370px;
}
.img6 {
    background-color: white;
    height: 300px;
    top: -166px;
}

.img7 {
    background-color: white;
    height: 270px;
    top: -246px;
}
.img8 {
    background-color: white;
    height: 360px;
    top: -276px;
}
.img9 {
    background-color: white;
    height: 375px;    
    top: -256px;
}
.img10 {
    background-color: white;
    height: 360px;
    top: -150px;
}


/**Bloc 4**/

/**Bloc 5**/

.dis_bloc {
    display: block;
}

.pos_img {
    position: relative;
    float: left;
    padding-left: 92px;
}

.bloc_img {
    height: 40%;
    width: 100%;
    position: relative;
    float: left;
    margin-top: 100px;
    margin-left:-13px;
}
.bloc_img2 {
    width: 100%;
    position: relative;
    float: left;
}

.audio {
    right: 2px;
}

.code {
    left: 34px;
}

.graphic {
    left: 10px;
}

/**Bloc 6**/

.array {
    width: 260px;
    height: 600px;
    border:1px solid #505050;
    position: relative;
    float:left;
    display: inline;
    margin-top: 180px;
    margin-left: 25px;
}

.content_array {
    width: 80%;
    height: 97%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: -15px;
}



/**Bloc 7**/

.skills{
    height:30%;
    width: 25%;
    position: relative;
    float: left;
    display: inline;
    margin-top: 240px;
}

.awesome {
    position: relative;
    float:left;
    height: 35%;
    width: 50%;
    margin-top: 120px;
}

.colorful {
    position: relative;
    float:right;
    height: 35%;
    width: 50%;
    margin-top: 120px;
}

.circle {
    border:1px solid ;
    border-radius:50%;
    height: 120px;
    width: 120px;
    background:rgba(255,255,255, 0.7);
}

.guillemet {
    font-family: 'Noto Sans', sans-serif;
    font-size: 82px;
    color:white;
    font-weight: 800;
    font-style: italic;
    margin-top: -15px;
}

.border-radient {
    border-top:2px solid;
    width: 120px;
    height: 2px;
    margin-top: 15px;
    background: -webkit-linear-gradient(70deg, #f3c400, #ff5901);
    background: -moz-linear-gradient(70deg, #f3c400, #ff5901);
    background: -o-linear-gradient(70deg, #f3c400, #ff5901);
    background: linear-gradient(70deg, #f3c400, #ff5901);
}


/**Bloc 8**/

/**Bloc 9**/

.social {
    border: 1px solid white;
    padding-top: 21px;
    position: relative;
    padding-left: 162px;
    padding-right: 162px;
    padding-bottom: 21px;
    float: left;
}


.fb {
    padding-top: 21px;
    padding-bottom: 21px;
}

.twi {
    padding-top: 21px;
    padding-bottom: 22px;
}

.google {
    padding-top: 23px;
    padding-bottom: 23px;
}

/**Bloc 10**/

/**Footer**/
